<style>
  .priceLabel {
    text-align: right;
    background-color: blueviolet;
  }
  .productImage {

  }

  .newImage {
    width: 100px;
    height: 100px;
  }

  .productList{
    display: flex;
    flex-direction: column;
    width: 60% !important;
  }

  .debug {
  
  }
  .debug2 {
  
  }
  
  </style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Products</ion-title>
    </ion-buttons>
    <ion-toolbar>
      <ion-title style="text-align: center;"><img src="./assets/rush_logo.png" style="width: 200px; height: 55px;"></ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['']">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon name="add-circle-outline"  slot="start"></ion-icon>
      <ion-label>Create new Item</ion-label>
    </ion-item>
    <ion-card-content>
          
      <form (ngSubmit)="subForm()">


      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <img [src]="newProductFilePicURL ?  newProductFilePicURL  : './assets/placeholder.png'" class="newImage"> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label id="profile_image" color="primary" stacked>Upload Product Picture</ion-label>
              <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="debug" size="3">
               <ion-label>Name:</ion-label>
            </ion-col>
            <ion-col class="debug2" size="9">
                <ion-input placeholder="Enter item name" [(ngModel)]="formProduct.name" name="name"></ion-input>
            </ion-col>
        </ion-row>
   <ion-row>
     <ion-col class="debug" size="3">
        <ion-label>Description:</ion-label>
     </ion-col>
     <ion-col class="debug2" size="9">
        <ion-input placeholder="Enter item description" [(ngModel)]="formProduct.description" name="description"></ion-input>
     </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="debug" size="3">
       <ion-label>Catergory:</ion-label>
    </ion-col>
    <ion-col class="debug2" size="9">
       <ion-input placeholder="Enter item category" [(ngModel)]="formProduct.category" name="category"></ion-input>
    </ion-col>
 </ion-row>
 <ion-row>
  <ion-col class="debug" size="3">
     <ion-label>Price:</ion-label>
  </ion-col>
  <ion-col class="debug2" size="9"  style="text-align: right;">
     <ion-input placeholder="Enter item price" [(ngModel)]="formProduct.price" name="price"></ion-input>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col class="debug2"   style="text-align: right;">
      <ion-button  type="submit">Create</ion-button>
    </ion-col>
  </ion-row>



</ion-grid>
    </form>
    </ion-card-content>
</ion-card>


<ion-grid>
  <ion-row>
    <div *ngFor="let product of products ">
      <ion-card  style="width:220px" >
        <ion-card-header>
          <img class ="productImage" src='{{ product.getImageURL() }}' />
          <ion-card-subtitle>{{product.interface.product_type}}</ion-card-subtitle>
          <ion-card-title>{{product.interface.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
  
        {{product.interface.body_html}}
        <p>
  
          
            <ion-grid>
              <div *ngFor="let variant of product.interface.variants ">
                <ion-row>
                  <ion-col style="text-align: right;"><ion-card-subtitle>Price: ${{variant.price}} </ion-card-subtitle></ion-col>
                </ion-row>
              </div>
            </ion-grid>
  
            <ion-grid>
                <ion-row>
                  <ion-col></ion-col>
                  <ion-col></ion-col>
                  <ion-col>
                    <ion-button color="danger">Delete</ion-button>
                  </ion-col>
                </ion-row>
            </ion-grid>
  
  
  
        </ion-card-content>
      </ion-card>

    </div>
  </ion-row>

</ion-grid>











</ion-content>
