<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Home</ion-title>
    </ion-buttons>
    <ion-toolbar>
      <ion-title style="text-align: center;"><img src="./assets/rush_logo.png" style="width: 200px; height: 55px;"></ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['']">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item style="align-content:  center;">
      <img src="./assets/pizza-rush-logo.png"  />

    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Place Info</ion-card-subtitle>
      <ion-card-title>Cenntenial Capstone Pizza Place</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This is a fake pizza place for capstone project.

      <ion-item >
        <ion-icon name="pin-outline"></ion-icon>
        <ion-label>941 Progress Ave., Toronto, ON M1G 3T8.</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-label> 11 am  - 2 am</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="globe-outline"></ion-icon>
        <ion-label><a href="https://centennial-capstone-store.myshopify.com">https://centennial-capstone-store.myshopify.com</a></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
 
  

</ion-content>
